body {
  background-color: #18191a;
  overflow-x: hidden;
  overflow-y: scroll;
}

.App {
  width: 500px;
  margin: 50px auto;
  max-width: 100%;
  /* background-color: black; */
}

.meme-container {
  margin-top: 30px;
  text-align: center;
}

.meme-container img {
  display: block;
  width: 100%;
}

.meme-container button {
  margin-left: auto;
}
.title-share-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-share-button-container h3 {
  width: 100%;
  color: #dde0e4;
  font-family: 'Noto Sans', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px;
}

.video-container {
  height: auto;
  max-width: 100%;
  max-height: 100vh;
}

.video-container video,
iframe {
  max-width: 100%;
}
