.authentication-modal-container{
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.authentication-modal-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.authentication-modal-buttons button {
    margin: 5px;
}

.authentication-modal {
    background-color: black;
    width: 300px;
    height: auto;
    border: solid;
    border-radius: 10px;
    text-align: center;
}


.authentication-modal input {
    width: 200px;
    margin: 15px;
    text-align: center;
}



@media only screen and (max-width: 1100px), only screen and (max-device-width: 1100px) {
    .authentication-modal-container {
      position: fixed;
      left: 0;
      top: 0;
    }
  }