.lateral-navbar{
    position: fixed;
    width: 250px;
    text-align: center;
    top: 100px;
    left: calc(50% - 550px);
    background-color: red;
    max-height: calc(100vh - 100px);
}


@media only screen and (max-width: 1100px), only screen and (max-device-width: 1100px) {
    .lateral-navbar {
      right: 100%;
      left: auto;
      transition: transform .5s ease;
      transform: translateX(100%);
    }

    .lateral-navbar.show {
        transform: translateX(0%);
    }
  }

