.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(24 25 26);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.access-buttons{
    display: flex;
}

.access-buttons button{
    margin: 2px;
    font-size: small;
}


.navbar-elements{
    margin: 8px;
}

.navbar-elements-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-top: 15px;
}



@media only screen and (max-width: 1100px), only screen and (max-device-width: 1100px) {
    .access-buttons {
      display: none;
    }

    .navbar-elements-container{
        justify-content: center;
    }
  }